.year, .track, .disc {
  display: inline-block;
  margin-right: 1ex;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.year, .track {
  filter: brightness(80%);
}

.disc {
  filter: brightness(70%);
}