html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: beige;
  scrollbar-color: #000 #555;
}

::-webkit-scrollbar {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

video {
  display: block;
  width: 100%;
}

audio {
  display: block;
  width: calc(100% - 1ex);
  margin: .5ex;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: .5ex;
  padding: 0;
}

* {
  box-sizing: border-box;
}
